.footer {
    height: 105px ; 
    text-align: center;
}

.footer_items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer_item {
    list-style: none;
    height: 16px;
    margin: 0px 6px 12px;
}

.footer_item a {
    text-decoration: none;
    color: #7393B3;
    font-size: 12px;
}

.footer_languages {
    margin-top: 15px;
    color: #7393B3;
    font-size: 12px;
}

#languages {
    border: none;
    background-color: white;
    width: 90px;
    color: #7393B3;
}

.copyright {
    font-size: 12px;
    margin-left: 10px;
}